{% extends 'rle_app/main.html' %}

{% block content %}

<head>
    <script>
        $(document).ready(function(){
            $(".active").removeClass("active");
            $("#nav-assessment").addClass("active");
        });
    </script>

    <style>
        h1{
            font-size: 60px;
            font-weight: bold;
            color: navy;
        }
        .title-info{
            font-size: 24px;
        }

        /* Answers */
        .form-control{
            /* width: 50%; */
            margin-left: 15px;
        }
        li{
            padding-left: 20px;
            padding-top: 10px;
            border-radius: 10px;
        }

        .bottom-bar{
            text-align: right;
        }
        .checker{
            margin-top: 5px;
        }
        .card{
            margin-bottom: 15px;
        }

        /* Answer results */
        .incorrect{
            background: lightcoral;
        }
        .correct{
            background: lightgreen;
        }
    </style>

    <title>Assessment: Eye-thought, Eye-m fine</title>
</head>

<body>
    <div class="container">
        <div class="container-fluid my-5 text-center">
            <h1 class="pb-3">Eye care for you</h1>
            <p class="title-info">A series of multiple choice questions about <strong>treatment and nursing responsibilities</strong>.</p>
        </div>

        <!-- Answer -->
        <form action="" method="GET" name="answer1">
        <div class="container my-5">
            <h4>Answer the questions below</h4>
            
            <div class="card">
                <div class="card-header">Question 1</div>
                <div class="card-body">
                    <div class="card-title">Laser Surgery for diabetic retinopathy does what for the patient?</div>
                    <hr>
                    <ul class="list-unstyled list1">
                        <li><input type="radio" id="1A" name="1" value="1A">
                        <label for="1A">A. Seal microaneurysms</label></li>
                        <li><input type="radio" id="1B" name="1" value="1B">
                        <label for="1B">B. Suck vitreous humor</label></li>
                        <li><input type="radio" id="1C" name="1" value="1C">
                        <label for="1C">C. Prevents bleeding</label></li>
                        <li><input type="radio" id="1D" name="1" value="1D">
                        <label for="1D">D. Removes sugar in the eyes</label></li>
                    </ul>
                    <a href="#" class="btn btn-success checker" id="check1">Check</a>
                </div>
            </div>

            <div class="card">
                <div class="card-header">Question 2</div>
                <div class="card-body">
                    <div class="card-title">The following are nursing responsibilities for retinal detachment EXCEPT:</div>
                    <hr>
                    <ul class="list-unstyled list2">
                   <li><input type="radio" id="2A" name="2" value="2A">
                    <label for="2A">A. Bedrest without bathroom privilege to lessen intraocular pressure</label></li>
                    <li><input type="radio" id="2B" name="2" value="2B">
                    <label for="2B">B. Provide artificial tears for easier reattachment due to moisture</label></li>
                    <li><input type="radio" id="2C" name="2" value="2C">
                    <label for="2C">C. Provide eye patches to rest the eyes thus minimizing eye stress</label></li>
                    <li><input type="radio" id="2D" name="2" value="2D">
                    <label for="2D">D. Recommend cryosurgery</label></li>
                    </ul>
                    <a href="#" class="btn btn-success checker" id="check2">Check</a>
                </div>
            </div>

            <div class="card">
                <div class="card-header">Question 3</div>
                <div class="card-body">
                    <div class="card-title">The nurse observes the patient self-administering eye drops for the treatment of glaucoma. Which of the following would require further patient education on how to administer eye drops correctly?</div>
                    <hr>
                    <ul class="list-unstyled list3">
                   <li><input type="radio" id="3A" name="3" value="3A">
                    <label for="3A">A. The patient washes hands before and after administering the eye drops.</label></li>
                    <li><input type="radio" id="3B" name="3" value="3B">
                    <label for="3B">B. The patient uses a tissue to catch any medication that drips out of the eye after administration of the drops.</label></li>
                    <li><input type="radio" id="3C" name="3" value="3C">
                    <label for="3C">C. The patient refrains from blinking after instilling the eye drops.</label></li>
                    <li><input type="radio" id="3D" name="3" value="3D">
                    <label for="3D">D. The patient places the drops of medication directly on the eye via the cornea.</label></li>
                    </ul>
                    <a href="#check2" class="btn btn-success checker" id="check3">Check</a>
                </div>
            </div>

            <div class="card">
                <div class="card-header">Question 4</div>
                <div class="card-body">
                    <div class="card-title">Nurse Judy is training student nurse Betty on nursing responsibilities when administering ophthalmic medications. Which statements would require nurse Judy to reteach to student nurse Betty?</div>
                    <hr>
                    <ul class="list-unstyled list4">
                   <li><input type="radio" id="4A" name="4" value="4A">
                    <label for="4A">A. “I will not wear gloves and wash my hands since its the eyes. There’s no risk for infection”</label></li>
                    <li><input type="radio" id="4B" name="4" value="4B">
                    <label for="4B">B. “I will place medications on the lower conjunctival sac”</label></li>
                    <li><input type="radio" id="4C" name="4" value="4C">
                    <label for="4C">C. “I will not touch the eye using the dropper or the medication applicator”</label></li>
                    <li><input type="radio" id="4D" name="4" value="4D">
                    <label for="4D">D. “I will wait 5 minutes between administration of 2 medications”</label></li>
                    </ul>
                    <a href="#check3" class="btn btn-success checker" id="check4">Check</a>
                </div>
            </div>

            <div class="card">
                <div class="card-header">Question 5</div>
                <div class="card-body">
                    <div class="card-title">Eye ointments are administered during___, while eye drops are given during ___?</div>
                    <hr>
                    <ul class="list-unstyled list5">
                   <li><input type="radio" id="5A" name="5" value="5A">
                    <label for="5A">A. Night time, Day time</label></li>
                    <li><input type="radio" id="5B" name="5" value="5B">
                    <label for="5B">B. Day time, Night Time</label></li>
                    <li><input type="radio" id="5C" name="5" value="5C">
                    <label for="5C">C. Both night time</label></li>
                    <li><input type="radio" id="5D" name="5" value="5D">
                    <label for="5D">D. Both day and night</label></li>
                    </ul>
                    <a href="#check4" class="btn btn-success checker" id="check5">Check</a>
                </div>
            </div>

            <div class="card">
                <div class="card-header">Question 6</div>
                <div class="card-body">
                    <div class="card-title">The client arrives in the emergency room with a penetrating eye injury from wood chips while cutting wood. The nurse assesses the eye and notes a piece of wood protruding from the eye, what is the initial nursing action?</div>
                    <hr>
                    <ul class="list-unstyled list6">
                   <li><input type="radio" id="6A" name="6" value="6A">
                    <label for="6A">A. Irrigate the eye with sterile saline</label></li>
                    <li><input type="radio" id="6B" name="6" value="6B">
                    <label for="6B">B. Remove the piece of wood using a sterile eye clamp</label></li>
                    <li><input type="radio" id="6C" name="6" value="6C">
                    <label for="6C">C. Perform visual acuity tests</label></li>
                    <li><input type="radio" id="6D" name="6" value="6D">
                    <label for="6D">D. Apply an eye patch</label></li>
                    </ul>
                    <a href="#check5" class="btn btn-success checker" id="check6">Check</a>
                </div>
            </div>

            <div class="card">
                <div class="card-header">Question 7</div>
                <div class="card-body">
                    <div class="card-title">The client arrives in the emergency room after sustaining a chemical eye injury from a splash of battery acid. The initial nursing action is to:</div>
                    <hr>
                    <ul class="list-unstyled list7">
                   <li><input type="radio" id="7A" name="7" value="7A">
                    <label for="7A">A. Cover the eye with a pressure patch.</label></li>
                    <li><input type="radio" id="7B" name="7" value="7B">
                    <label for="7B">B. Begin visual acuity testing</label></li>
                    <li><input type="radio" id="7C" name="7" value="7C">
                    <label for="7C">C. Irrigate the eye with sterile normal saline</label></li>
                    <li><input type="radio" id="7D" name="7" value="7D">
                    <label for="7D">D. Swab the eye with antibiotic ointment</label></li>
                    </ul>
                    <a href="#check6" class="btn btn-success checker" id="check7">Check</a>
                </div>
            </div>
        </div>

        <!-- Back to assessments -->
        <!-- Back to assessments -->
        <div class="container-fluid d-flex justify-content-between mb-5">
            <div class="score">
                <h4>Score: <strong id="score">0</strong>/7</h4>
            </div>
            <div class="controls">
                <a href="{% url 'assessment' %}" class="btn btn-lg btn-secondary">Back</a>
                <input type="submit" class="btn btn-lg btn-primary" id="submit" value="Submit">
            </div>
        </div>
        </form>
    </div>

    <script>
        $(document).ready(function(){
            $('#check1').click(function(e){
                e.preventDefault();
                $('.list1 li').removeClass('correct');
                $('.list1 li').removeClass('incorrect');
                var selected = $('input[name="1"]:checked')
                // console.log('Checked 1 lol' + selected);
                if (selected.val() == "1A") {
                    selected.parent().addClass('correct')
                } else {
                    selected.parent().addClass('incorrect')
                }
            });

            $('#check2').click(function(e){
                e.preventDefault();
                $('.list2 li').removeClass('correct');
                $('.list2 li').removeClass('incorrect');
                var selected = $('input[name="2"]:checked')
                // console.log('Checked 1 lol' + selected);
                if (selected.val() == "2B") {
                    selected.parent().addClass('correct')
                } else {
                    selected.parent().addClass('incorrect')
                }
            });

            $('#check3').click(function(e){
                e.preventDefault();
                $('.list3 li').removeClass('correct');
                $('.list3 li').removeClass('incorrect');
                var selected = $('input[name="3"]:checked')
                // console.log('Checked 1 lol' + selected);
                if (selected.val() == "3D") {
                    selected.parent().addClass('correct')
                } else {
                    selected.parent().addClass('incorrect')
                }
            });

            $('#check4').click(function(e){
                e.preventDefault();
                $('.list4 li').removeClass('correct');
                $('.list4 li').removeClass('incorrect');
                var selected = $('input[name="4"]:checked')
                // console.log('Checked 1 lol' + selected);
                if (selected.val() == "4A") {
                    selected.parent().addClass('correct')
                } else {
                    selected.parent().addClass('incorrect')
                }
            });

            $('#check5').click(function(e){
                e.preventDefault();
                $('.list5 li').removeClass('correct');
                $('.list5 li').removeClass('incorrect');
                var selected = $('input[name="5"]:checked')
                // console.log('Checked 1 lol' + selected);
                if (selected.val() == "5A") {
                    selected.parent().addClass('correct')
                } else {
                    selected.parent().addClass('incorrect')
                }
            });

            $('#check6').click(function(e){
                e.preventDefault();
                $('.list6 li').removeClass('correct');
                $('.list6 li').removeClass('incorrect');
                var selected = $('input[name="6"]:checked')
               // console.log('Checked 1 lol' + selected);
                if (selected.val() == "6C") {
                    selected.parent().addClass('correct')
                } else {
                    selected.parent().addClass('incorrect')
                }
            });

            $('#check7').click(function(e){
                e.preventDefault();
                $('.list7 li').removeClass('correct');
                $('.list7 li').removeClass('incorrect');
                var selected = $('input[name="7"]:checked')
                // console.log('Checked 1 lol' + selected);
                if (selected.val() == "7C") {
                    selected.parent().addClass('correct')
                } else {
                    selected.parent().addClass('incorrect')
                }
            });

            $(".checker").click(function(){
                var num_correct = $('.correct').length
                $("#score").html(num_correct);
                console.log(num_correct)
            }); 
        });
    </script>
</body>

{% endblock %}