{% extends 'rle_app/main.html' %}

{% block content %}

<head>
    <script>
        $(document).ready(function(){
            $(".active").removeClass("active");
            $("#nav-assessment").addClass("active");
        });
    </script>

    <style>
        h1{
            font-size: 60px;
            font-weight: bold;
            color: navy;
        }

        h5{
            font-weight: bold;
        }

        .title-info{
            font-size: 24px;
        }

        /* Answers */
        .form-control{
            /* width: 50%; */
            margin-left: 15px;
        }
        li{
            margin-bottom: 5px;
        }
        .item1{
            margin-bottom: 10px;
        }

        .bottom-bar{
            text-align: right;
        }

        .correct.form-control{
            border-color: green;
            border-width: 3px;
            background: lightgreen;
        }
        .incorrect.form-control{
            border-color: red!important;
            border-width: 3px!important;
            background: lightpink!important;
        }
        .form-control:focus{
            border-color: gray!important;
            border-width: 3px!important;
            background: white!important;
        }
    </style>

    <title>Assessment: Eye-though, Eye-m fine</title>
</head>

<body>
    <div class="container">
        <div class="container-fluid my-5 text-center">
            <h1 class="pb-3">Eye thought, Eye-m fine</h1>
            <p class="title-info">Match the information on the left by selecting the correct information on the right.</p>
        </div>

        <!-- Answer -->
        <form action="">
        <div class="container-fluid my-5">
            <h4 class="mb-4">Input your answers below</h4>
            <div class="row text-center">
                <div class="col col-md-6">
                    <h5>Item 1</h5>
                    <ol class="text-left items-1">
                        <li class="item1">Tests visual acuity</li>
                        <li class="item1">Check and see the patency of blood vessels</li>
                        <li class="item1">Examines internal, external structures of the eye</li>
                        <li class="item1">Visualization of the magnified structures on the anterior chamber.</li>
                        <li class="item1">Evaluates field of vision</li>
                        <li class="item1">Tests color vision</li>
                        <li class="item1">Examines pupillary reaction to light</li>
                        <li class="item1">Check and see for presence of corneal trauma, ulcers, abrasions and problems brought by wearing contact lens.</li>
                        <li class="item1">Examines the anterior chamber pressure which indicate
                            the intraocular pressure.</li>
                        <li class="item1"> Uses X Ray to create detailed pictures of the eye sockets, eyes and surrounding bones</li>
                    </ol>
                </div>
                <div class="col col-md-6">
                    <h5>Item 2</h5>
                    <ol>
                        <li><select id="answer1" class="form-control">
                            <option disabled selected value> -- Select an option -- </option>
                            <option>Fluorescein angiography</option>
                            <option>Slit lamp exam</option>
                            <option>CT scan</option>
                            <option>Snellen chart</option>
                            <option>Corneal staining</option>
                            <option>Tonometry</option>
                            <option>Ophthalmoscopy</option>
                            <option>Perimetry testing</option>
                            <option>Pupillary reflex</option>
                            <option>Ishihara chart</option>
                          </select></li>
                        <li><select id="answer2" class="form-control">
                            <option disabled selected value> -- Select an option -- </option>
                            <option>Fluorescein angiography</option>
                            <option>Slit lamp exam</option>
                            <option>CT scan</option>
                            <option>Snellen chart</option>
                            <option>Corneal staining</option>
                            <option>Tonometry</option>
                            <option>Ophthalmoscopy</option>
                            <option>Perimetry testing</option>
                            <option>Pupillary reflex</option>
                            <option>Ishihara chart</option>
                        </select></li>
                        <li><select id="answer3" class="form-control">
                            <option disabled selected value> -- Select an option -- </option>
                            <option>Fluorescein angiography</option>
                            <option>Slit lamp exam</option>
                            <option>CT scan</option>
                            <option>Snellen chart</option>
                            <option>Corneal staining</option>
                            <option>Tonometry</option>
                            <option>Ophthalmoscopy</option>
                            <option>Perimetry testing</option>
                            <option>Pupillary reflex</option>
                            <option>Ishihara chart</option>
                        </select></li>
                        <li><select id="answer4" class="form-control">
                            <option disabled selected value> -- Select an option -- </option>
                            <option>Fluorescein angiography</option>
                            <option>Slit lamp exam</option>
                            <option>CT scan</option>
                            <option>Snellen chart</option>
                            <option>Corneal staining</option>
                            <option>Tonometry</option>
                            <option>Ophthalmoscopy</option>
                            <option>Perimetry testing</option>
                            <option>Pupillary reflex</option>
                            <option>Ishihara chart</option>
                        </select></li>
                        <li><select id="answer5" class="form-control">
                            <option disabled selected value> -- Select an option -- </option>
                            <option>Fluorescein angiography</option>
                            <option>Slit lamp exam</option>
                            <option>CT scan</option>
                            <option>Snellen chart</option>
                            <option>Corneal staining</option>
                            <option>Tonometry</option>
                            <option>Ophthalmoscopy</option>
                            <option>Perimetry testing</option>
                            <option>Pupillary reflex</option>
                            <option>Ishihara chart</option>
                        </select></li>
                        <li><select id="answer6" class="form-control">
                            <option disabled selected value> -- Select an option -- </option>
                            <option>Fluorescein angiography</option>
                            <option>Slit lamp exam</option>
                            <option>CT scan</option>
                            <option>Snellen chart</option>
                            <option>Corneal staining</option>
                            <option>Tonometry</option>
                            <option>Ophthalmoscopy</option>
                            <option>Perimetry testing</option>
                            <option>Pupillary reflex</option>
                            <option>Ishihara chart</option>
                        </select></li>
                        <li><select id="answer7" class="form-control">
                            <option disabled selected value> -- Select an option -- </option>
                            <option>Fluorescein angiography</option>
                            <option>Slit lamp exam</option>
                            <option>CT scan</option>
                            <option>Snellen chart</option>
                            <option>Corneal staining</option>
                            <option>Tonometry</option>
                            <option>Ophthalmoscopy</option>
                            <option>Perimetry testing</option>
                            <option>Pupillary reflex</option>
                            <option>Ishihara chart</option>
                        </select></li>
                        <li><select id="answer8" class="form-control">
                            <option disabled selected value> -- Select an option -- </option>
                            <option>Fluorescein angiography</option>
                            <option>Slit lamp exam</option>
                            <option>CT scan</option>
                            <option>Snellen chart</option>
                            <option>Corneal staining</option>
                            <option>Tonometry</option>
                            <option>Ophthalmoscopy</option>
                            <option>Perimetry testing</option>
                            <option>Pupillary reflex</option>
                            <option>Ishihara chart</option>
                        </select></li>
                        <li><select id="answer9" class="form-control">
                            <option disabled selected value> -- Select an option -- </option>
                            <option>Fluorescein angiography</option>
                            <option>Slit lamp exam</option>
                            <option>CT scan</option>
                            <option>Snellen chart</option>
                            <option>Corneal staining</option>
                            <option>Tonometry</option>
                            <option>Ophthalmoscopy</option>
                            <option>Perimetry testing</option>
                            <option>Pupillary reflex</option>
                            <option>Ishihara chart</option>
                        </select></li>
                        <li><select id="answer10" class="form-control">
                            <option disabled selected value> -- Select an option -- </option>
                            <option>Fluorescein angiography</option>
                            <option>Slit lamp exam</option>
                            <option>CT scan</option>
                            <option>Snellen chart</option>
                            <option>Corneal staining</option>
                            <option>Tonometry</option>
                            <option>Ophthalmoscopy</option>
                            <option>Perimetry testing</option>
                            <option>Pupillary reflex</option>
                            <option>Ishihara chart</option>
                        </select></li>
                    </ol>
                </div>
            </div>
        </div>

        <!-- Back to assessments -->
        <div class="container-fluid d-flex justify-content-between mb-5">
            <div class="score">
                <h4>Score: <strong id="score">0</strong>/10</h4>
            </div>
            <div class="controls">
                <a href="{% url 'assessment' %}" class="btn btn-lg btn-secondary">Back</a>
                <input type="submit" class="btn btn-lg btn-primary" id="submit" value="Submit">
            </div>
        </div>
        </form>
    </div>

    <script>
        $(document).ready(function(){
            $("#submit").click(function(e){
                e.preventDefault()
                $('.form-control').removeClass("correct incorrect");

                var answer1 = $("#answer1");
                var answer2 = $("#answer2");
                var answer3 = $("#answer3");
                var answer4 = $("#answer4");
                var answer5 = $("#answer5");
                var answer6 = $("#answer6");
                var answer7 = $("#answer7");
                var answer8 = $("#answer8");
                var answer9 = $("#answer9");
                var answer10 = $("#answer10");

                if (answer1.val() == "Snellen chart") {
                answer1.addClass('correct')
                } else {
                    answer1.addClass('incorrect')
                }
                
                if (answer2.val() == "Fluorescein angiography") {
                answer2.addClass('correct')
                } else {
                    answer2.addClass('incorrect')
                }

                if (answer3.val() == "Ophthalmoscopy") {
                answer3.addClass('correct')
                } else {
                    answer3.addClass('incorrect')
                }

                if (answer4.val() == "Slit lamp exam") {
                answer4.addClass('correct')
                } else {
                    answer4.addClass('incorrect')
                }

                if (answer5.val() == "Perimetry testing") {
                answer5.addClass('correct')
                } else {
                    answer5.addClass('incorrect')
                }

                if (answer6.val() == "Ishihara chart") {
                answer6.addClass('correct')
                } else {
                    answer6.addClass('incorrect')
                }

                if (answer7.val() == "Pupillary reflex") {
                answer7.addClass('correct')
                } else {
                    answer7.addClass('incorrect')
                }

                if (answer8.val() == "Corneal staining") {
                answer8.addClass('correct')
                } else {
                    answer8.addClass('incorrect')
                }

                if (answer9.val() == "Tonometry") {
                answer9.addClass('correct')
                } else {
                    answer9.addClass('incorrect')
                }

                if (answer10.val() == "CT scan") {
                answer10.addClass('correct')
                } else {
                    answer10.addClass('incorrect')
                }

                var num_correct = $('.correct').length
                $("#score").html(num_correct);
                console.log(num_correct)
            });
        });
    </script>
</body>

{% endblock %}