{% extends 'rle_app/main.html' %}

{% block content %}

<head>
    <script>
        $(document).ready(function(){
            $(".active").removeClass("active");
            $("#nav-assessment").addClass("active");
        });
    </script>

    <style>
        h1{
            font-size: 60px;
            font-weight: bold;
            color: navy;
        }

        h5{
            font-weight: bold;
        }

        .title-info{
            font-size: 24px;
        }

        /* Answers */
        .form-control{
            /* width: 50%; */
            margin-left: 15px;
        }
        li{
            margin-bottom: 5px;
        }

        input[type=text]{
            display: inline!important;
            width: 90%!important;
        }

        /* Answer results */
        .incorrect input, .incorrect .form-control:focus{
            border-color: red!important;
            border-width: 2px!important;
            background: lightpink!important;
        }
        .correct input,  .correct .form-control:focus{
            border-color: green;
            border-width: 2px;
            background: lightgreen;
        }

    </style>

    <title>Assessment: Eye will complete</title>
</head>

<body>
    <div class="container">
        <div class="container-fluid my-5 text-center">
            <h1 class="pb-3">Eye will complete</h1>
            <p class="title-info">Complete and fill in the <strong>crossword puzzle</strong> based on the given descriptions of the eye disorders</p>
        </div>

        <div class="container w-50 d-flex justify-content-between">
            <a href="{% url 'assessment3' %}"><div class="btn btn-lg btn-primary">Eye Disorders I</div></a>
            <a href="{% url 'assessment3-2' %}"><div class="btn btn-lg btn-outline-primary">Eye Disorders II</div></a>
        </div>

        <!-- Photo -->
        <div class="container-fluid d-flex justify-content-center my-5">
            <img src="https://i.ibb.co/zX3fzX4/Eye-Disorders-I-Worksheet.jpg" alt="" class="w-75">
        </div>

        <!-- Answer -->
        <form action="">
        <div class="container-fluid my-5">
            <h4 class="mb-4">Input your answers below</h4>
            <div class="row text-center">
                <div class="col col-md-6">
                    <h5>Down</h5>
                    <ol class="list-unstyled">
                        <li>1. <input type="text" class="form-control" id="answer1"></li>
                        <li>2. <input type="text" class="form-control" id="answer2"></li>
                        <li>3. <input type="text" class="form-control" id="answer3"></li>
                        <li>4. <input type="text" class="form-control" id="answer4"></li>
                        <li>6. <input type="text" class="form-control" id="answer5"></li>
                    </ol>
                </div>
                <div class="col col-md-6">
                    <h5>Across</h5>
                    <ol class="list-unstyled">
                        <li>5. <input type="text" class="form-control" id="answer6"></li>
                        <li>7. <input type="text" class="form-control" id="answer7"></li>
                        <li>8. <input type="text" class="form-control" id="answer8"></li>
                        <li>9. <input type="text" class="form-control" id="answer9"></li>
                        <li>10. <input type="text" class="form-control" id="answer10"></li>
                    </ol>
                </div>
            </div>
        </div>

        <!-- Back to assessments -->
        <div class="container-fluid d-flex justify-content-between mb-5">
            <div class="score">
                <h4><strong id="score">0</strong>/10 correct</h4>
            </div>
            <div class="controls">
                <a href="{% url 'assessment' %}" class="btn btn-lg btn-secondary">Back</a>
                <input type="submit" class="btn btn-lg btn-primary" id="submit" value="Submit">
            </div>
        </div>
        </form>
    </div>
    <script>
        $("#submit").click(function(e){
            e.preventDefault();
            $('li').removeClass("correct incorrect");
            // $('li').removeClass("incorrect");

            var answer1 = $("#answer1");
            var answer2 = $("#answer2");
            var answer3 = $("#answer3");
            var answer4 = $("#answer4");
            var answer5 = $("#answer5");
            var answer6 = $("#answer6");
            var answer7 = $("#answer7");
            var answer8 = $("#answer8");
            var answer9 = $("#answer9");
            var answer10 = $("#answer10");

            if (answer1.val().toLowerCase() == "uvetitis") {
            answer1.parent().addClass('correct')
            } else {
                answer1.parent().addClass('incorrect')
            }

            if (answer2.val().toLowerCase() == "glaucoma") {
            answer2.parent().addClass('correct')
            } else {
                answer2.parent().addClass('incorrect')
            }

            if (answer3.val().toLowerCase() == "retinaldetachment") {
            answer3.parent().addClass('correct')
            } else {
                answer3.parent().addClass('incorrect')
            }

            if (answer4.val().toLowerCase() == "chalazion") {
            answer4.parent().addClass('correct')
            } else {
                answer4.parent().addClass('incorrect')
            }

            if (answer5.val().toLowerCase() == "late") {
            answer5.parent().addClass('correct')
            } else {
                answer5.parent().addClass('incorrect')
            }

            if (answer6.val().toLowerCase() == "babyshaken") {
            answer6.parent().addClass('correct')
            } else {
                answer6.parent().addClass('incorrect')
            }

            if (answer7.val().toLowerCase() == "legalblindness") {
            answer7.parent().addClass('correct')
            } else {
                answer7.parent().addClass('incorrect')
            }

            if (answer8.val().toLowerCase() == "vitrectomy") {
            answer8.parent().addClass('correct')
            } else {
                answer8.parent().addClass('incorrect')
            }

            if (answer9.val().toLowerCase() == "keratoconiunctivitiessicca") {
            answer9.parent().addClass('correct')
            } else {
                answer9.parent().addClass('incorrect')
            }

            if (answer10.val().toLowerCase() == "blackeye") {
            answer10.parent().addClass('correct')
            } else {
                answer10.parent().addClass('incorrect')
            }

            var num_correct = $('.correct').length
            $("#score").html(num_correct);
            console.log(num_correct)
        });
        
    </script>
</body>

{% endblock %}